
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body {
 min-height: 100%;
  width: 100%;
  
}
.body{
    color:grey
}

main{
   
  
    min-height:100%;
    width:100%;
   


}


.parent{
    height:100%;
}
.card{
   
    background-color:white;
    height:50%;
    width:30%;
    gap:1rem;
     left:32%;
    top:25%;
      position: relative;
      border-radius:1rem;
}
  
.card1{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:1rem;
}
.card2{
    display:flex;
    flex-direction: column;
    padding:1.2rem;
    
 
}


.page{
    display:none;
     height:100%;
    
}
input{
    height:2vw;
    width:27vw;
    border-radius:0.5rem;
    border:2px solid rgba(0, 0, 0, 0.253);
    padding:1.3rem;


}

label{
    font-size:1.2rem;
}

.column{
    display:flex;
    padding:1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    

}
.para2{
color: blue;

}
.btn{
    background-color:rgb(0, 55, 255);
    color:white;
    padding:0.5rem;
    margin-top:5%;
    border-radius:0.7rem;
    font-size:1.1rem;
}

.add{
    background-color: black;
    color:white;
    padding:1rem;
    margin:12%;
}

.btn1{
    background-color:rgb(24, 193, 24);
    color:white;
    padding:0.5rem;
    margin-top:5%;
    border-radius:0.7rem;
    font-size:1.1rem;
}


.nav{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    gap:3rem;
    padding:2rem;
    height:10%;
    border:2px solid black;

}

.logout{
    padding:0.7rem;
    font-size:1rem;
    border-radius:1rem;
    width:8%;
    
}
.fintrack{
    height:100vw;
    width:20%;
    background-color:white;
    border:2px solid rgba(0, 0, 0, 0.555);
    
    position:absolute;
    
   
    
}


.dash{
    padding:2rem;
    display:flex;
    flex-direction: column;
    gap:2rem;



}

.dash button{
    padding:0.5rem;
    font-size:1rem;
    border:none;
    background-color:palevioletred;

}
.dash p{
    padding:0.5rem;
    font-size:1.4rem;
    text-align: center;

}

.heading h1{
    padding-left:1rem;
        padding-top:1rem;
}
.heading p{
    padding:1rem;
}
.cards{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    height:15vw;
    width:70vw;
}

.cardper{
    background-color:rgba(0, 0, 0, 0.274);
    border-radius: 1rem;
    height:13vw;
    width:13vw;
    font-size:1.1rem;
    color:black;
    padding:1rem;
    
}
.image img{
    object-fit: cover;
    height:30vw;
    width:40vw;
    padding:2rem;
}
.chart{
    display:flex;
    gap:3rem;
    
}
#padding{
margin:2rem;

}
.dark{
    padding:1rem;
       border-radius:1rem;
       
}

.black{
    background-color: black;

}
.reset{
        padding:1rem;
        font-size:1.1rem;
        background-color:rgba(249, 176, 176, 0.943);
        color:black;
        border-radius:1rem;
}
.alltransaction{
    height:30vw;
    width:50vw;
    border-radius:1rem;
    background-color:rgba(0, 0, 0, 0.641);
    color:white;
    position: relative;
    left:10%;

}
.category{
    display:flex;
    gap:3rem;
    padding:1rem;


}

.section1{
    position: absolute;
    left:20%;
    width:100vw;
}

.parent1{
    display:none;
}
.input{
    background-color:black;
    width:30%;
    display:flex;
    border:2px solid rgba(255, 255, 255, 0.735);
}
.remove{
    border:none;
    outline:none
}
select{
    outline:none;
        border:none;
}
.footer{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    color:grey;
    padding:1rem;
    font-size:1.2rem;
}
.side{
    padding:2rem;
    height:30vw;
}
.amount{
    display:flex;
    gap:3rem;
}
.dividing{

    position: absolute;
    left:20%;
    height:50%;
    width:70%;
    display:none;
}
.save{
    background-color:black;
    color:white;
    padding:1rem;
    width:30%;
    margin-top:2%;
    
}
.expense{
    padding:1rem;
    background-color:red;
    margin-left:30px;


}
.income{
    padding:1rem;
    background-color:rgb(68, 219, 68);
      margin-left:30px;
    
}
.dancing{
      position:relative;
       left:30%;
       background-color: aqua;
       height:100%;
       width:100%;
       padding:1rem;
}


.appear{
    height:30vw;
    width:50vw;
    display:none;
    display:flex;
    flex-direction:column;
    gap:1rem;
    position:absolute;
    left:15%;
    top:2%;
    padding:1rem;
}


.last  {
    width:50vw;
    height:30vw;
        background-color:rgba(0, 0, 0, 0.836);
    display:none;
    gap:1rem;
    color:white;

}



.newam{
    display:flex;
    gap:1rem;

}

.Save{
    color:white;
    background-color:blue;
    padding:1rem;
    position:relative;
    left:40%;
    width:5vw;
}

.footer p{
    color:white;
}
.todo{
    background-color: blue;
    height:10vw;
    width:40vw;
    padding:1rem;
    margin:5%;
}

.profile{
    background-color:rgb(241, 175, 186);
    padding:1rem;

 
}

.showsetting{
    display:none;
     position: absolute;
     left:30%;
  
}

.savechanges{
    background-color: black;
    color:white;
    padding:1rem;
    margin-left:10%;
    margin-top:2%;

}
.profile h1{
    padding:1rem;
}


.mylist{
    background-color:white;
    color:black;
}